@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	@apply h-full overflow-x-hidden;
}

body {
	@apply w-full h-full flex flex-col font-pt-sans text-zinc-700 bg-zinc-200/70 overflow-x-hidden scrollbar-thin scrollbar-thumb-zinc-400 scrollbar-track-zinc-200;
}

.container {
	@apply max-w-[1250px] h-fit mx-auto my-0 flex flex-col grow;
}

.main {
	@apply py-3.5 flex flex-col grow;
}

.animate-opacity {
	animation: opacity-animation 0.5s;
}

.animate-slide {
	animation: animate-slide 0.5s;
}

@keyframes opacity-animation {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes animate-slide {
	from {
		opacity: 0.3;
		transform: translateX(3.5rem);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}
